body {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.87);
}

span {
  display: flex;
  align-items: center;
  color: #f5f5f5;
}

p {
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  color: #bdbdbd;
}

.css-2cevn4-MuiPaper-root {
  padding: 15px 10px 10px 10px;
}

@media (max-width: 920px) {
  .css-102lqhp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .css-2cevn4-MuiPaper-root {
    padding: 5px 0 0 0;
  }
}

.time-control {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
}
